<h1>Gráfica de Temperatura</h1>
<hr>

<div class="row">
  <div class="col-md-6">

      <div style="display: block; width: 800px; height: 400px;">
          <canvas baseChart 
          
                      [datasets]="lineChartTemp"
                      [labels]="lineChartLabels"
                      
                      [type]="'line'">
            </canvas>
      </div>

  </div>
</div>
<h1>Gráfica de lluvia</h1>
<hr>

<div class="row">
  <div class="col-md-6">

      <div style="display: block; width: 800px; height: 400px;">
          <canvas baseChart 
          
                      [datasets]="lineChartRain"
                      [labels]="lineChartLabels"
                      
                      [type]="'line'">
            </canvas>
      </div>

  </div>
</div>