<h2>Gráfica de Temperatura</h2>
<hr>

<div class="row" >
  <div class="col-md-6">

      <div style="display: block; width: 75%;">
          <canvas baseChart 
          
                      [datasets]="lineChartTemp"
                      [labels]="lineChartLabels"
                      
                      [type]="'line'">
            </canvas>
      </div>

  </div>
</div>

<h2>Gráfica de lluvia</h2>
<hr>
<div class="row">
  <div class="col-md-6">

      <div style="display: block; width: 75%;">
          <canvas baseChart 
          
                      [datasets]="lineChartRain"
                      [labels]="lineChartLabels"
                      
                      [type]="'line'">
            </canvas>
      </div>

  </div>
</div>